
nest-asyncio==1.5.5
nltk==3.7
notebook==6.4.12
notebook-shim==0.1.0
numpy==1.23.5
pandas==1.5.3
semver==2.13.0
protobuf>=3.19.4,<4
streamlit>=0.70.0,<1
plotly==5.16.1
tenacity==8.2.3
packaging==21.3
wordcloud==1.8.2.2
Pillow==9.3.0
emoji==2.1.0
XlsxWriter==3.1.2

